@import url('https://fonts.googleapis.com/css?family=ABeeZee');
body {
    background-color: rgb(29, 28, 28);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    justify-content: center;
    overflow-x: hidden;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

h1 {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.box {
    background-color: rgb(80, 79, 79);
    border: 2px solid rgba(88, 86, 86, 0.955);
    color: rgb(217, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    margin: 260px;
    border-radius: 10px;
    box-shadow: rgba(88, 86, 86, 0.955) 0px 10px 30px -7px;
    transform: translateX(400%);
    transform: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform:  translateX(-400%);

}

.box.show {
    transform: translate(0);
}

